<div class='chat-room-form'>
  <h2>トークルーム名の修正ができます<h2>
  <%=form_with model: @room, method: :patch, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :トークルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: '新しいトークルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field--right'>
      <%= f.submit class: 'chat-room-form__action-btn' %>
    </div>
  <% end %>
</div>