<div class="wrapper">
  <div class="side-bar">
    <%= render "messages/side_bar" %>
  </div>
  <div class="first">
    <div class="first-messages">
      <p class="first-message">相手を探して<br>トークを開始しましょう</p>
    </div>
  </div>
</div>
