.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  background-color: #5b99eb;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.create-room {
  font-size: 13px;
}

.create-room a {
  border: 2px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  padding: 14px;
  background-color: #2267e9;
  border-radius: 5px;
}
.rooms {
  background-color: #a2bfeb;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  text-decoration: none;
  color: #ffffff;
}

.chat {
  width: calc(100% - 300px);
}

.chat-header {
  height: 100px;
  background-color: #1e77ec;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin-top: 36px;
  font-size: 24px;
  font-weight: bold;
}

.header-title a {
  color: white;
  text-decoration: none;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  color: #eeeeee;
  border: 3px solid rgb(230, 216, 216);
  background-color: #2113e4;
  padding: 20px;
  border-radius: 5px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0;
  border: 2px solid #7bc0e9;
  border-bottom: 7px solid #38aef0;
  border-radius: 10px;
  width: 500px;
  position: relative;
  word-wrap: break-word;
  padding: 0 10px;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #050505;
}

.message-date {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.message-content {
  font-size: 14px;
  color: #050505;
  margin-bottom: 40px;
}

.form {
  background-color: #405583;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38aef0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

div[data-check="true"] {
  background-color: #c6e4ff;
}

.already-lead {
  width: 50px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  border: solid 2px #c6e4ff;
  border-radius: 10px;
  border-bottom: solid 6px #aac5ed;
}

.delete-btn {
  width: 50px;
  height: 25px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: #62879e;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.delete-btn a {
  color: white;
  text-decoration: none;
}